{% extends '../base.html' %}
{% block title %} change password {% endblock title %}

{% block content %}

	<div class="container">
		<h1></h1>
		<form method="POST" action="{% url 'account:change_password' %}">
			<input type="password" name="password" placeholder="Current password">
			<input type="password" name="password1" placeholder="New Password">
			<input type="password" name="password2" placeholder="Confirm Password">
			<input type="submit" name="change">
			{% csrf_token %}

		</form>
	</div>


{% endblock content %} 